@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
    ViewData["Title"] = "Login";
}

@model User

<div class="login-section">
    <div class="form-box login">
        @using (Html.BeginForm("Login", "Page", FormMethod.Post))
        {
            <h2 style="color: white;">Sign In</h2>
            <div class="input-box">
                @Html.TextBoxFor(x => x.Email, new
                {
                    @class = "form-control",
                    type = "text",
                    required = "required",
                    autofocus = "autofocus"
                })
                <label>Email</label>
            </div>

            <div class="input-box">
                @Html.TextBoxFor(x => x.Password, new
                {
                    @class = "form-control",
                    type = "password",
                    required = "required",
                    autofocus = "autofocus"
                })
                <label>Password</label>
            </div>

            <div class="remember-password">
                <label for=""><input type="checkbox"> Remember Me</label>
                <a href="#">Forget Password</a>
            </div>

            <button class="btn">Login In</button>

            <div class="create-account">
                <p>Create A New Account? <a style="color: blue;" href="/Page/register">Sign Up</a></p>
            </div>
        }
    </div>
</div>

<!-- Login Section End -->
