@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
    ViewData["Title"] = "Register";
}
@model User
    <div class="register-section">
        <div class="form-box register">
            <form asp-action="Register" method="post">

                <h2 style="color: white;">Sign Up</h2>

                <div class="input-box">
                    <span class="icon"><i class='bx bxs-user'></i></span>
                    <input type="text" class="form-control" id="username" name="Username" >
                    <label for="username">Username:</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-envelope'></i></span>

                    <input type="email" class="form-control" id="email" name="Email">
                    <label for="email">Email:</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class='bx bxs-lock-alt'></i></span>

                    <input type="password" class="form-control" id="password" name="Password">
                    <label for="password">Password:</label>
                </div>
                <div class="remember-password">
                    <label for=""><input type="checkbox">I agree with this statment</label>
                </div>
                <button class="btn">Login In</button>
                <div class="create-account">
                    <p>Already Have An Account? <a style="color: blue;" href="/Page/login">Sign In</a></p>
                </div>
            </form>
        </div>
     </div>
