
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hash Techie Official</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/Login.css" type="text/css">
    <link rel="stylesheet" href="~/css/Register.css" type="text/css">
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="item">
            <h2 class="logo"></h2>
            <div class="text-item">
                <h2>
                    Welcome To <br><span>
                         Ogain Shop!
                    </span>
                </h2>
                <p>If you want a beautiful body, eat lots of vegetables, fruits and fruits</p>
                <div class="social-icon">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-linkedin'></i></a>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
      
</body>
</html>

